<app-header [dark]="true"></app-header>
<section  class="job-details ptb-120">
  <div class="container">
    <div
      class="author-wrap text-center bg-gradient p-5 rounded-custom mt-5 mt-lg-0"
    >
      <h1>Edit Personal Infos</h1>
      <br>
      <br>
    <form class="register-form" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-6">
          <label for="name" class="mb-1 text-info">Name</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="name" disabled [(ngModel)]="emp.name" name="name" >
          </div>
        </div>
        <div class="col-sm-6">
          <label for="email" class="mb-1 text-info">Email</label>
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="email" required [(ngModel)]="emp.email" name="email" >
          </div>
        </div>
        <div class="col-sm-6">
          <label for="birthday" class="mb-1 text-info">Birthday</label>
          <div class="input-group mb-3">
            <input type="date" class="form-control" id="birthday" required [(ngModel)]="emp.birthday" name="birthday" >
          </div>
        </div>
        <div class="col-sm-6">
          <label for="phone" class="mb-1 text-info">Phone</label>
          <div class="input-group mb-3 ">
            <input type="number" class="form-control " id="phone" required [(ngModel)]="emp.phone" name="phone" >
          </div>
        </div>
        <!--<div class="col-sm-6">
          <label for="image" class="mb-1">Image</label>
          <div class="input-group mb-3">
            <input type="file" class="form-control" id="image" required [(ngModel)]="emp.image" name="image" >
          </div>
        </div>-->
        <main id="show-projects-button-holder">
        <button type="submit" class="btn btn-primary">Submit</button>
        </main>
      </div>
    </form>
    </div>
  </div>
</section>
<app-footer [dark]="true"></app-footer>

