<app-header [dark]="true"></app-header>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section  class="job-details ptb-120">
<div class="container">
  <div  class="author-wrap text-center bg-light p-5 rounded-custom mt-5 mt-lg-0">
<form class="register-form" [formGroup]="ratingForm" (ngSubmit)="addRating()">
  <ngx-star-rating formControlName="nbOfStars"></ngx-star-rating>
  <h3 class="mb-5">Rating</h3>
  <textarea class="form-control"
    formControlName="comment"
    placeholder="Add your Feedback here"></textarea>
  <br>
  <main id="show-projects-button-holder">
  <button type="submit" class="btn btn-success">Submit</button>
  </main>
</form>
  </div>
</div>
</section>
<app-footer [dark]="true"></app-footer>
