<div class="card user-profile o-hidden mb-4">
  <div class="header-cover" style="background-image: url('assets/images/photo-wide-4.jpg')"></div>
  <div class="user-info">
    <img class="profile-picture avatar-lg mb-2" src="assets/images/faces/1.jpg" alt="">
    <p class="m-0 text-24">Timothy Carlson</p>
    <p class="text-muted m-0">Digital Marketer</p>
  </div>
  <div class="card-body">
    <ul class="nav nav-tabs profile-nav mb-4" id="profileTab" role="tablist">

      <li class="nav-item">
        <a class="nav-link" id="about-tab" data-toggle="tab" href="#about" role="tab" aria-controls="about" aria-selected="true">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="friends-tab" data-toggle="tab" href="#friends" role="tab" aria-controls="friends" aria-selected="false">Friends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="photos-tab" data-toggle="tab" href="#photos" role="tab" aria-controls="photos" aria-selected="false">Photos</a>
      </li>
    </ul>

  </div>
</div>
