<app-header [dark]="true"></app-header>
<section  class="job-details ptb-120">
  <div class="container">
  <div
    *ngIf="emp$|async as emp"
    class="author-wrap text-center bg-gradient p-5 rounded-custom mt-5 mt-lg-0"
  >
    <!-- "{{this.es.baseURL}}"-->
    <img
      src="assets/img/team/team-2.jpg"
      alt="author"
      width="120"
      class="img-fluid shadow-sm rounded-circle"
    />
    <div class="author-info my-4">
      <h5 class="mb-0">{{emp.name}}</h5>
      <span class="small">{{emp.email}}</span>
    </div>
    <!--<p>
      Lorem ipsum dolor sit amet. Vel velit pariatur in voluptas quia ad quas repudiandae et modi soluta est aliquam facere eum harum adipisci sit internos internos. Id molestias fugiat et animi perferendis sit saepe voluptas est debitis modi id reprehenderit voluptatem. Et enim maxime est excepturi possimus qui ratione sint eos obcaecati esse 33 expedita autem qui sint velit.
    </p>-->
    <ul class="list-unstyled author-social-list list-inline mt-3 mb-0">
      <li class="list-inline-item">
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="#"><i class="fab fa-twitter"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="#"><i class="fab fa-github"></i></a>
      </li>
      <li class="list-inline-item">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
      </li>
    </ul>
    <br>
    <br>
    <div class="row justify-content-between">
      <div class="col-lg-8 pe-lg-5">
        <div class="job-details-wrap">
          <h2>Post History</h2>
          <div class="job-details-info mt-5">
            <div class="search ">
              <input style="width: 7cm" class="searchTerm fa fa-search rounded-3" type="text" name="search" [(ngModel)]="term" autocomplete="off" placeholder="&#61442; searching for a post by name ">
            </div>
          <div *ngFor="let post of emp.posts| filter:term">

            <ul class="content-list list-group-item list-group-item-primary bg-dark-light">
              <h5 class="fa fa-file-pen ">
                {{post.description}}
              </h5>
              <br>
              <span class="fa fa-calendar-alt">
                 {{post.datePost}}
              </span>
            </ul>
          </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div
          class="job-overview-wrap bg-dark p-5 sticky-sidebar rounded-custom mt-5 mt-lg-0 "
        >
          <h5>About</h5>
          <ul class="job-overview-list list-unstyled mt-4">
            <li>
              <i class="far fa-map-marker-alt text-primary"></i>
              <div class="overview-item">
                <h6 class="mb-0">Company:</h6>
                <span>{{emp.company.name}}</span>
              </div>
            </li>
            <li>
              <i class="far fa-user text-primary"></i>
              <div class="overview-item">
                <h6 class="mb-0">Job Title:</h6>
                <span>{{emp.profession.name}}</span>
              </div>
            </li>
            <li>
              <i class="far fa-male text-primary"></i>
              <div class="overview-item">
                <h6 class="mb-0">Gender:</h6>
                <span>{{emp.gender}}</span>
              </div>
            </li>
            <li>
              <i class="far fa-phone text-primary"></i>
              <div class="overview-item">
                <h6 class="mb-0 about-content-left">Phone:</h6>
                <span>{{emp.phone}}</span>
              </div>
            </li>
            <li>
              <i class="far fa-birthday-cake text-primary"></i>
              <div class="overview-item">
                <h6 class="mb-0">Birthday:</h6>
                <span>{{emp.birthday}}</span>
              </div>
            </li>
          </ul>
          <a routerLink="/employee/test2/edit" class="btn btn-primary d-block mt-5"
          >Edit</a
          >
        </div>
      </div>
    </div>
  </div>


  </div>
</section>

<app-footer [dark]="true"></app-footer>
